{% extends('base.html.twig') %}

{% block body %}
<!-- Footer -->
<footer class="text-dark pt-5" style="background-color: #D2ACA5">
    <div class="container text-center text-uppercase">
        <div class="row w-100">     
            <div class="col-md-4">      
                <h5 class=" font-weight-bold"> {{ 'Information'|trans }} </h5>
                <p>{{ 'Horaires'|trans }}</p>
                <p> {{ 'Tarifs'|trans }} </p>
                 <p>rUE DE LA REPUBLIQUE, 59000 - LILLE</p>
            </div> 

            <div class="col-md-4">
                <h5 class="font-weight-bold mb-5">{{ 'lien'|trans }}</h5>
                <a href="#">{{ 'Plan'|trans }}</a>
            </div>

            <div class="col-md-4">
                <h5 class="font-weight-bold mb-4">{{ 'Contact'|trans }}</h5>
                <p>EMAIl : grandangle@gmail.com</p>
                <p>TEL : 00 00 00 00 00</p>
            </div>  
    </div>
    <hr class="bg-light">
    <div class="container pt-3">   
        <div class="row justify-content-center">
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a href="https://fr-fr.facebook.com/">
                    <i class="fab fa-facebook fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/twitter">
                    <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.google.fr/">
                    <i class="fab fa-google-plus-square fa-2x"></i>
                    </a>
                </li>     
            </ul>
        </div>
        <div class="row justify-content-center">
            <!-- Copyright -->
            <p>&copy 2018 Copyright:created by shanman&mostafa</p>
         
            <!-- Copyright -->
        </div>   
    </div>
      
    
      
  </footer>
  <!-- Footer -->
  {% endblock %}