{% extends 'base.html.twig' %}

{% block title %}Oeuvre index{% endblock %}

{% block body %}
 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #D2ACA5">
        <div class="container">
            <img src="/assets/img/logo.png">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">                  
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/"><i class="fas fa-home pr-1"></i>Accueil</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/propos"><i class="fas fa-book-open pr-1"></i> A propos</a>
                    </li>                               
                </ul>
            </div>
        </div>
    </nav>
    <h1>Oeuvre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvre in oeuvres %}
            <tr>
        
                <td>{{ oeuvre.titre }}</td>
                <td><img width="100px" src="/uploads/img/{{ oeuvre.img }}" alt=""></td>    
                <td>
                    <a href="{{ path('oeuvre_show', {'id': oeuvre.id}) }}">show</a>
                    
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
     <a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}">edit</a>
    {% endif %}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     {% if is_granted('IS_AUTHENTICATED_FULLY') %}
     <a href="{{ path('oeuvre_new') }}">Create new</a>
    {% endif %}




 {% include ('partials/footer.html.twig') %} 


{% endblock %}

