{% extends 'base.html.twig' %}

{% block title %}Oeuvre index{% endblock %}

{% block body %}
{% include ('partials/visitnavbar.html.twig') %} 
    <h1>Oeuvre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Oeuvres</th>
                <th>En savoir plus</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvre in oeuvres %}
            <tr>
        
                <td>{{ oeuvre.titre }}</td>
                <td><img width="100px" src="/uploads/img/{{ oeuvre.img }}" alt=""></td>    
                <td>
                    <a href="{{ path('oeuvre_show', {'id': oeuvre.id}) }}"><button type="button" class="btn btn-primary">Voir</button></a>
                    
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
     <a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}">edit</a>
    {% endif %}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     {% if is_granted('IS_AUTHENTICATED_FULLY') %}
     <a href="{{ path('oeuvre_new') }}">Create new</a>
    {% endif %}

 {% include ('partials/footer.html.twig') %} 


{% endblock %}

