{% extends 'base.html.twig' %}

{% block title %}Oeuvre{% endblock %}

{% block body %}
    <h1>Oeuvre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ oeuvre.titre }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td><img width="100px" src="/uploads/img/{{ oeuvre.img }}" alt=""></td>                            
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ oeuvre.description }}</td>
            </tr>
          
            <tr>
                <th>Longueur</th>
                <td>{{ oeuvre.longueur }}</td>
            </tr>
            <tr>
                <th>Largeur</th>
                <td>{{ oeuvre.largeur }}</td>
            </tr>
            <tr>
                <th>Hauteur</th>
                <td>{{ oeuvre.hauteur }}</td>
            </tr>
            <tr>
                <th>Diametre</th>
                <td>{{ oeuvre.diametre }}</td>
            </tr>
            <tr>
                <th>Periodcreation</th>
                <td>{{ oeuvre.periodcreation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('oeuvre_index') }}">back to list</a>

             
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}">edit</a>
       
         {% endif %}


    {{ include('oeuvre/_delete_form.html.twig') }}
{% endblock %}




