{% extends 'base.html.twig' %}

{% block title %}Artiste index{% endblock %}

{% block body %}
    <h1>Artiste index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomartiste</th>
                <th>Prenomartiste</th>
                <th>Pays</th>
                <th>Descriptionartistefr</th>
                <th>Descriptionartisteen</th>
                <th>Descriptionartistecn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artiste in artistes %}
            <tr>
                <td>{{ artiste.id }}</td>
                <td>{{ artiste.nomartiste }}</td>
                <td>{{ artiste.prenomartiste }}</td>
                <td>{{ artiste.pays }}</td>
                <td>{{ artiste.descriptionartistefr }}</td>
                <td>{{ artiste.descriptionartisteen }}</td>
                <td>{{ artiste.descriptionartistecn }}</td>
                <td>
                    <a href="{{ path('artiste_show', {'id': artiste.id}) }}">show</a>
                    <a href="{{ path('artiste_edit', {'id': artiste.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('artiste_new') }}">Create new</a>
{% endblock %}
