{% extends 'base.html.twig' %}

{% block title %}Artiste index{% endblock %}

{% block body %}
  {% include ('partials/visitnavbar.html.twig') %} 
    <h1>Artiste index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pays</th>           
                <th>En savoir plus</th>
            </tr>
        </thead>
        
        <tbody>
        {% for artiste in artistes %}
            <tr>
                <td>{{ artiste.nom }}</td>
                <td>{{ artiste.prenom}}</td>
                <td>{{ artiste.pays }}</td>
                
                <td>
                    <a href="{{ path('artiste_show', {'id': artiste.id}) }}"><button type="button" class="btn btn-primary">Voir</button></a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
     <a href="{{ path('artiste_edit', {'id': artiste.id}) }}" class="btn btn-primary ml-2">Editer</a>
       
         {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
<a href="{{ path('artiste_new') }}">Create new</a>
       
         {% endif %}
    


    {% include ('partials/footer.html.twig') %} 
{% endblock %}



