{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
    <h1>Artiste</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artiste.id }}</td>
            </tr>
            <tr>
                <th>Nomartiste</th>
                <td>{{ artiste.nomartiste }}</td>
            </tr>
            <tr>
                <th>Prenomartiste</th>
                <td>{{ artiste.prenomartiste }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ artiste.pays }}</td>
            </tr>
            <tr>
                <th>Descriptionartistefr</th>
                <td>{{ artiste.descriptionartistefr }}</td>
            </tr>
            <tr>
                <th>Descriptionartisteen</th>
                <td>{{ artiste.descriptionartisteen }}</td>
            </tr>
            <tr>
                <th>Descriptionartistecn</th>
                <td>{{ artiste.descriptionartistecn }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('artiste_index') }}">back to list</a>

    <a href="{{ path('artiste_edit', {'id': artiste.id}) }}">edit</a>

    {{ include('artiste/_delete_form.html.twig') }}
{% endblock %}
