{% extends 'base.html.twig' %}

{% block body %}  

 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #D2ACA5">
        <div class="container">
            <img src="/assets/img/logo.png">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">                  
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/"><i class="fas fa-home pr-1"></i>Accueil</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/propos"><i class="fas fa-book-open pr-1"></i> A propos</a>
                    </li>                               
                </ul>
            </div>
        </div>
    </nav>

 <!-- table -->
 <table class="table">
  <thead>         
    <tr>                
        {#<th>Poster</th>#}
        <th>Titre</th>
        {#<th>Description</th> #}              
        <th>Datedebut</th>
        <th>Datefin</th>
        {#<th>Nbvisiters</th> #}
        <th>action</th>                               
    </tr>
  </thead>

  <tbody>
        {% for exposition in expositions %}
            <tr>
                {#<td>{{ exposition.poster }}</td>#}
                <td>{{ exposition.titre }}</td>
                {#<td>{{ exposition.description }}</td> #}              
                <td>{{ exposition.datedebut ? exposition.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ exposition.datefin ? exposition.datefin|date('Y-m-d') : '' }}</td>
                {#<td>{{ exposition.nbvisiters }}</td>#}
                <td>
                    <a href="{{ path('exposition_show', {'id': exposition.id}) }}">DESCRIPTION</a>
                    {#<a href="{{ path('exposition_edit', {'id': exposition.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
  </tbody>
</table>




{#*************************************************************************************************#}
    
    <table class="table">
        <thead>
           
        </thead>

        <tbody>
        
       
        </tbody>
    </table>

    {#<a href="{{ path('exposition_new') }}">Create new</a>#}
    {% include ('partials/footer.html.twig') %} 
{% endblock %}



