{% extends 'base.html.twig' %}

{% block title %}Exposition{% endblock %}

{% block body %}
    <h1>Exposition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exposition.id }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ exposition.poster }}</td>
            </tr>
            <tr>
                <th>Titreexpo</th>
                <td>{{ exposition.titreexpo }}</td>
            </tr>
            <tr>
                <th>Descriptionexpofr</th>
                <td>{{ exposition.descriptionexpofr }}</td>
            </tr>
            <tr>
                <th>Descriptionexpoen</th>
                <td>{{ exposition.descriptionexpoen }}</td>
            </tr>
            <tr>
                <th>Descriptionexpocn</th>
                <td>{{ exposition.descriptionexpocn }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ exposition.datedebut ? exposition.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ exposition.datefin ? exposition.datefin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nbvisiters</th>
                <td>{{ exposition.nbvisiters }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('exposition_index') }}">back to list</a>

    <a href="{{ path('exposition_edit', {'id': exposition.id}) }}">edit</a>

    {{ include('exposition/_delete_form.html.twig') }}
{% endblock %}
